.profileContainer{
    height: 100vh;
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
    background-color: var(--main);
    position: relative;
    color:var(--textColor);
}
.profileLeftWrapper{
    flex:8;
    height: 100%;
    
}
.profileRightWrapper{
    flex: 4;

}
.topLeftWrapper{
    height:55% ;
    position: relative;
}
.bottomLeftWarapper{
    height: 42%;
    margin-top: 20px;
    display: flex;
}
.profileImgHolder{
    position: absolute;
    top: 55%;
    left: 5%;
    width: 10em;
    height: 10em;
    border: 5px solid var(--main);
    border-radius: 50%;
    /* position: relative; */
    /* z-index: 999; */
}
.profileImgHolder>img{
    width: 10em;
    height: 10em;
    object-fit: cover;
    border-radius: 50%;
}
.userInfoContainer{
    flex: 1;
}
.userFriendsContainer{
    flex: 1;
}
.infoWrapper{
    display: flex;
    flex-direction: column;
}
.infoWrapper>form{
    display: flex;
    height: 50px;
    align-items: center;
    margin-bottom: 15px;
}
.infoWrapper>form>input{
    font-weight: 500;
    font-size:15px ;
    margin:0 10px 0 20px;
    width: 80%;
    outline: none;
    border: none;
    border-bottom: 2px solid lightgreen;
}
.infoWrapper>form>input:focus{
    outline: none;
}
.infoWrapper>form>button{
    color: white;
    font-size: 15px;
    font-weight: 500;
    height: 25px;
    width:70px;
    border-radius: 20px;
    border: none;
    background-color: rgb(29, 190, 102);
    cursor: pointer;
}
.infoWrapper>form>button:hover{
    transform: scale(1.1);
}
.userInfo{
    font-weight: 400;
    font-size:18px ;
    margin-left: 20px;
    width: 80%;
    text-overflow:ellipsis;
   white-space:nowrap;
   overflow-x: hidden;
}
.userInfo.name{
    text-transform: capitalize;
}
.editButton{
    width: 30px;
    height: 30px;
    border-radius:50% ;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(231, 230, 230);
    margin-left: 10px;
    cursor: pointer;

}
.titleContainer{
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
}
.userFriendsContainer{
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.userFriendsContainer>span{
    font-size: 20px;
    font-weight: 500;

}

.friendListWrapper{ 
    overflow-y: scroll;
    margin-bottom: 10px;
}
.userNumberWrapper{
    margin-left: 20px;
    padding: 15px 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
}
.searchBarWrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    
}
.searchBarWrapper>input{
    width: 80%;
    height: 30px;
    outline: none;
    border: none;
    border-bottom: 2px solid #35897e;
    border-radius: 5px;
    margin:0 10px;
    font-size: 15px;
    padding-left: 10px;
    font-weight: 500;
}
.searchBarWrapper>button{
    width: 35px;
    height: 35px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
.profileRightWrapper>span{
    font-size: 30px;
    font-weight: 600;
    margin:10px 20px 0 10px;
    display: flex;
    justify-content: space-between;
}
.newUsersContainer{
    overflow-y: scroll;
    height:90% ;
}
.changeProfileBtn{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 50%;
    border: 3px solid var(--main);
    right: 0;
    bottom: 6%;
    background-color: rgb(187, 187, 187);
    cursor: pointer;
}
.changeProfileBtn>svg{
    /* color: #fff; */
}
.backImageBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 70%;
    right: 2%;

    cursor:pointer;
    width:35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: rgb(226, 226, 226);
}