*{
   margin: 0;
   font-family: 'Roboto', sans-serif;
}
#root[data-theme="light"]{
   --main:#fafafa;
   --user_chat:#e0f6ca;
   --friend_chat:#ffffff;
   --noOfMessages:#59ce72;
   --textColor:black;
   --originalTextColor:black;
   --chatBackgroungColor:#ebe5de;
   --seenMessages:grey;
   --textInputIcons:grey;
   --box_shadow:#d6d6d6;
   --chatClicked:#ece8e8;
   --callBtnColor:rgb(209, 209, 209);
   --callIconColor:rgb(12, 156, 60)
   --chatPageTheme: /public/assets/lightMode.jpg;
}
#root[data-theme="dark"]{
   --originalTextColor:grey;
   --main:#161616;
   --user_chat:#005c4b;
   --friend_chat:#202c33;
   --noOfMessages:#5ceba3;
   --textColor:#fff;
   --chatBackgroungColor:#181818;
   --seenMessages:rgb(179, 179, 179);
   --textInputIcons:rgb(151, 150, 150);
   --box_shadow:#101010;
   --chatClicked:#222222;
   --callBtnColor:rgb(185, 185, 185);
   --callIconColor:rgb(42, 117, 68);
   --chatPageTheme:/public/assets/darkMode.jpg;
   background-color: #42a1db;
}
body{
   background-color: var(--main);
}